<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Booking Microservices</title>
    <link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/app/shared/global.css">
    <base href="/">
</head>
<body>

<div class="container" ng-controller="navbarController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand"><img src="/assets/img/logo.png" alt="logo"/></a>-->
                <a class="navbar-brand" aria-selected="true" ng-href="#!/main">Booking Microservices</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ng-href="#!/services">Usługi</a></li>
                    <li ng-if="globalUser.login"><a ng-href="#!/bookings">Rezerwacje</a></li>
                    <li ng-if="globalUser.permissions.canManageUsers"><a ng-href="#!/users">Użytkownicy</a></li>
                    <li ng-if="globalUser.login"><a ng-href="#!/account">Moje konto</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="globalUser.login"><a ng-href="#!/login" ng-click="logout()">{{ globalUser.login }} <i>
                        (wyloguj)</i></a>
                    </li>
                    <li ng-if="!globalUser.login"><a ng-href="#!/login">Zaloguj</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container container-margin-bottom" ng-view></div>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">2016 Piotr Bubel Praca Inżynierska. Tworzenie internetowych aplikacji
            biznesowych przy wykorzystaniu architektury mikroserwisów.</p>
    </div>
</div>


<script src="/assets/lib/jquery.min.js"></script>
<script src="/assets/lib/angular-1.5.6.min.js"></script>
<script src="/assets/lib/angular-cookies.min.js"></script>
<script src="/assets/lib/angular-animate.min.js"></script>
<script src="/assets/lib/angular-material-1.1.1.min.js"></script>
<script src="/assets/lib/angular-route.min.js"></script>
<!--<script src="/assets/lib/bootstrap/js/ui-bootstrap-tpls-2.3.2.min.js"></script>-->
<!--<script src="/assets/lib/angular-loader.min.js"></script>-->
<script src="/assets/lib/angular-message-format.min.js"></script>
<script src="/assets/lib/angular-messages.min.js"></script>
<!--<script src="/assets/lib/angular-parse-ext.min.js"></script>-->
<!--<script src="/assets/lib/angular-resource.min.js"></script>-->
<!--<script src="/assets/lib/angular-sanitize.min.js"></script>-->
<!--<script src="/assets/lib/angular-touch.min.js"></script>-->
<script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

<script src="/app.js"></script>
<script src="/app/app.config.js"></script>
<script src="/app/app.module.js"></script>
<script src="/app/shared/endpoints/loginFactory.js"></script>
<script src="/app/shared/endpoints/servicesFactory.js"></script>
<script src="/app/shared/endpoints/usersFactory.js"></script>
<script src="/app/shared/endpoints/bookingFactory.js"></script>
<script src="/app/components/services/servicesController.js"></script>
<script src="/app/components/users/usersController.js"></script>
<script src="/app/components/login/loginController.js"></script>
<script src="/app/components/account/accountController.js"></script>
<script src="/app/components/booking/bookingController.js"></script>

</body>
</html>