.center-block{
    text-align:center;
}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.container-margin-bottom {
    margin-bottom: 60px;
}

.color-warning {
    color: darkred;
}

.form-header {
    padding-bottom: 15px;
}