<div class="row">
    <div class="col-md-12" ng-if="!canManageUsers">
        <h3><span class="color-warning">Nie masz odpowiednich uprawnień</span></h3>
    </div>
    <div ng-if="canManageUsers">
        <div class="col-md-4">
            <h4 class="form-header">Zarejestrowani użytkownicy:</h4>
            <div class="list-group">
                <div ng-repeat="login in users">
                    <a ng-click="changeSelected(login)" class="list-group-item"
                       ng-class="(login===userData.login) ? 'active' : ''">
                        {{ login }}
                    </a>
                </div>
                <a class="list-group-item list-group-item-success" ng-click="setNew()">-- nowy --</a>
            </div>
        </div>

        <div class="col-md-8">
            <h4 class="form-header" ng-if="!createNew">Edycja użytkownika {{userData.login}}</h4>
            <h4 class="form-header" ng-if="createNew">Tworzenie nowego użytkownika</h4>
            <form name="userForm" novalidate>
                <div class="row">
                    <div class="col-md-4">
                        Login użytkownika:
                    </div>
                    <div class="col-md-8 form-group"
                         ng-class="{ 'has-error': userForm.login.$error.required && userForm.login.$dirty }">
                        <input class="form-control" type="text" name="login" ng-model="userData.login"
                               ng-required="createNew" ng-disabled="!createNew">
                        <div class="color-warning" ng-show="userForm.login.$error.required && userForm.login.$dirty">
                            Pole jest wymagane
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Hasło:
                    </div>
                    <div class="col-md-8 form-group"
                         ng-class="{ 'has-error': userForm.password.$error.required && userForm.password.$dirty }">
                        <input class="form-control" type="password" name="password" ng-model="userData.password"
                               ng-required="createNew">
                        <div class="color-warning"
                             ng-show="userForm.password.$error.required && userForm.password.$dirty">
                            Pole jest wymagane
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Imię:
                    </div>
                    <div class="col-md-8 form-group"
                         ng-class="{ 'has-error': userForm.firstName.$error.required && userForm.firstName.$dirty }">
                        <input class="form-control" type="text" name="firstName" ng-model="userData.firstName"
                               ng-required="true">
                        <div class="color-warning"
                             ng-show="userForm.firstName.$error.required && userForm.firstName.$dirty">
                            Pole jest wymagane
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Nazwisko:
                    </div>
                    <div class="col-md-8 form-group"
                         ng-class="{ 'has-error': userForm.lastName.$error.required && userForm.lastName.$dirty }">
                        <input class="form-control" type="text" name="lastName" ng-model="userData.lastName"
                               ng-required="true">
                        <div class="color-warning"
                             ng-show="userForm.lastName.$error.required && userForm.lastName.$dirty">
                            Pole jest wymagane
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Email:
                    </div>
                    <div class="col-md-8 form-group"
                         ng-class="{ 'has-error': (userForm.email.$error.required || userForm.email.$invalid) && userForm.email.$dirty }">
                        <input class="form-control" type="email" name="email" ng-model="userData.email"
                               ng-required="true">
                        <div class="color-warning" ng-show="userForm.email.$error.required && userForm.email.$dirty">
                            Pole jest wymagane
                        </div>
                        <div class="color-warning" ng-show="userForm.email.$invalid && userForm.email.$dirty">
                            Wpisany tekst nie jest poprawnym adresem email
                        </div>
                    </div>
                </div>

                <div class="panel-group" ng-show="!createNew">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-target="#perm">Uprawnienia</a>
                            </div>
                        </div>
                        <div id="perm" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            Może zarządzać usługami:
                                        </div>
                                        <div class="col-md-1 form-group">
                                            <input type="checkbox" name="canManageServices" ng-disabled="createNew"
                                                   ng-model="userData.permissions.canManageServices">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Może zarządzać użytkownikami:
                                        </div>
                                        <div class="col-md-1 form-group">
                                            <input type="checkbox" name="canManageUsers" ng-disabled="createNew"
                                                   ng-model="userData.permissions.canManageUsers">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Może zarządzać rezerwacjami:
                                        </div>
                                        <div class="col-md-1 form-group">
                                            <input type="checkbox" name="canManageBookings" ng-disabled="createNew"
                                                   ng-model="userData.permissions.canManageBookings">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="createNew" class="btn-group">
                    <button type="submit" class="btn btn-success" ng-click="saveNewUser()"
                            ng-disabled="userForm.$invalid">
                        Dodaj
                    </button>
                </div>
                <div ng-if="!createNew" class="btn-group">
                    <button type="submit" class="btn btn-success" ng-click="editUser()"
                            ng-disabled="userForm.$invalid">
                        Edytuj
                    </button>
                    <button class="btn btn-warning" ng-click="removeUser()">
                        Usuń
                    </button>
                </div>
            </form>
            <div class="message-container">
                <div ng-model="errorMessage" ng-show="showErrorMessage" class="alert alert-danger fade in"><strong>
                    {{ errorMessage }}</strong> {{ errorDescription }}
                </div>
                <div ng-model="successMessage" ng-show="showSuccessMessage" class="alert alert-success fade in"><strong>
                    {{ successMessage }}</strong> {{ successDescription }}
                </div>
            </div>
        </div>
    </div>
</div>