<div class="row">
    <div class="col-md-4">
        <p>Dostępne usługi:</p>
        <div class="list-group">
            <div ng-repeat="name in services">
                <a ng-click="changeSelected(name)" class="list-group-item"
                   ng-class="(name==serviceData.name) ? 'active' : ''">
                    {{ name }}
                </a>
            </div>
            <a class="list-group-item list-group-item-success" ng-click="setNew()">-- nowa --</a>
        </div>
    </div>
    <!--<service-viewer name="{{ services[0] }}"></service-viewer>-->
    <div class="col-md-8">
        <form name="serviceForm" novalidate>
            <div class="row">
                <div class="col-md-4">
                    Nazwa usługi:
                </div>
                <div class="col-md-8 form-group">
                    <input class="form-control" type="text" name="name" ng-model="serviceData.name" ng-required="true">
                    <div ng-show="serviceForm.name.$error.required">Pole jest wymagane</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Opis usługi:
                </div>
                <div class="col-md-8 form-group">
                    <input class="form-control" type="text" name="description" ng-model="serviceData.description"
                           ng-required="false">
                    <div ng-show="serviceForm.description.$error.required">Pole jest wymagane</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Cena usługi (PLN/h):
                </div>
                <div class="col-md-8 form-group">
                    <input class="form-control" type="number" name="price" ng-model="serviceData.price"
                           ng-required="true">
                    <div ng-show="serviceForm.price.$error.required">Pole jest wymagane</div>
                </div>
            </div>
            <div class="row" ng-show="!wholeDay">
                <div class="col-md-4">
                    Minimalny czas:
                </div>
                <div class="col-md-8 form-group">
                    <input class="form-control" type="number" name="minTime"
                           ng-model="serviceData.minTime" min="1" max="{{serviceData.maxTime}}"
                           ng-required="!wholeDay">
                    <div ng-show="serviceForm.minTime.$error.required">Pole jest wymagane</div>
                </div>
            </div>
            <div class="row" ng-show="!wholeDay">
                <div class="col-md-4">
                    Maksymalny czas:
                </div>
                <div class="col-md-8 form-group">
                    <input class="form-control" type="number" name="maxTime"
                           ng-model="serviceData.maxTime" min="{{serviceData.minTime}}" max="{{60*24}}"
                           ng-required="!wholeDay">
                    <div ng-show="serviceForm.maxTime.$error.required">Pole jest wymagane</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Usługa całodobowa:
                </div>
                <div class="col-md-1 form-group">
                    <input type="checkbox" name="wholeDay"
                           ng-model="wholeDay" ng-change="changeWholeDay(wholeDay)">
                </div>
            </div>
            <div ng-if="createNew" class="btn-group">
                <button type="submit" class="btn btn-success" ng-click="saveNewService()"
                        ng-disabled="serviceForm.$invalid">
                    Dodaj
                </button>
            </div>
            <div ng-if="!createNew" class="btn-group">
                <button type="submit" class="btn btn-success" ng-click="editService()"
                        ng-disabled="serviceForm.$invalid">
                    Edytuj
                </button>
                <button class="btn btn-warning" ng-click="removeService()">
                    Usuń
                </button>
            </div>
        </form>
        <div class="message-container">
            <div ng-model="errorMessage" ng-show="showErrorMessage" class="alert alert-danger fade in"><strong>
                {{ errorMessage }}</strong> {{ errorDescription }}
            </div>
            <div ng-model="successMessage" ng-show="showSuccessMessage" class="alert alert-success fade in"><strong>
                {{ successMessage }}</strong> {{ successDescription }}
            </div>
        </div>
    </div>
</div>